* {
  box-sizing: border-box;
  margin-left: 10px;
}

.title,
.title2 {
  font-family: sans-serif;
}

.form {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 300px;
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: lightgrey;
  border-style: none;
  border-radius: 5px;
  padding-left: 10px;
}

.button {
  width: 100px;
  line-height: 25px;
  font-size: 16px;
  background-color: rgb(104, 189, 160);
  color: white;
  border-style: none;
  border-radius: 5px;
}

.text {
  font-family: sans-serif;
  line-height: 25px;
  border: 2px solid lightgrey;
  color: rgb(94, 92, 92);
  padding-left: 10px;
}
